<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital_app</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="container">
    <h1>Bienvenido al Sistema Gestor del Hospital</h1>
    <p>Selecciona una opción:</p>

    <div class="options">
        <a href="{{ url_for('login_paciente') }}" class="button">Paciente</a>
        <a href="{{ url_for('login_recepcion') }}" class="button">Recepción</a>
        <a href="{{ url_for('medico') }}" class="button">Médico</a>
        <a href="{{ url_for('farmacia') }}" class="button">Farmacia</a>
    </div>
    <button class="boton-regresar" onclick="history.back()">Regresar</button>
</div>

</body>
</html>
