<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paciente</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='paciente.css') }}">
    
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flash-messages flash-success">
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="container">
    <h1>Área de Paciente</h1>

    <!-- Formulario de Inicio de Sesión -->
    <div id="login-form">
        <h2>Iniciar Sesión</h2>
        <form action="/Doctor/dashboard_doctor.html" method="post">
            <div class="form-group">
                <input type="text" id="id_paciente" name="id_paciente" required placeholder="ID Paciente:">
            </div>

            <div class="form-group">
                <input type="password" id="contrasena" name="contrasena" required placeholder="Contraseña:">
            </div>

            <div class="form-group">
                <input type="submit" value="Iniciar Sesión">
            </div>
        </form>
    </div>

    <!-- Enlace para Registrarse -->
    <div id="register-link">
        <p>¿No tienes una cuenta? <a href="/Doctor/dashboard_doctor.html">Regístrate aquí</a>.</p>
    </div>
</div>

</body>
</html>
