/* consola_paciente.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/static/Images/recepcion.jpg");
    background-repeat: no-repeat;
    background-size:cover;    
    background-position: 15%;
}

.container {
    max-width: 40rem;
    min-height: 15rem;
    margin: 15rem auto;
    background-color: rgba(255, 255, 255, 0.55);
    padding: 5rem 5rem 0 5rem;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.container > h1 {
    color: #333;
    text-align: center;
    padding-bottom: 2rem;
}

#menu {
    margin-top: 20px;
    padding-bottom: 2rem;
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: blue;
}

/* Agrega estilos para alertas de éxito */
.flash-success {
    background-color: #28a745; /* Color verde para alerta de éxito */
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
}

/* Agrega estilos para alertas de error */
.flash-error {
    background-color: #dc3545; /* Color rojo para alerta de error */
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 8px;
}

/* Estilos adicionales para el contenido dinámico se pueden agregar aquí */
