body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; /* Espaciado debajo de los títulos */
}

#agendar-cita, #resumen-cita {
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 8px;
}

input, select, button {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* Resalta la entrada activa */
input:focus, select:focus {
    outline: 2px solid #4caf50;
    border-color: #4caf50;
}

/* Estilos para la tabla del resumen de la cita */
.resumen-cita-estilo {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para la tabla */
}

.resumen-cita-estilo td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left; /* Alineación del texto a la izquierda */
}

.resumen-cita-estilo tr:nth-child(even) {background-color: #f2f2f2;}

.resumen-cita-estilo tr:hover {background-color: #ddd;}

