/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f8;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #007bff;
}

#login-form {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#register-link {
    text-align: center;
    margin-top: 20px;
}

#register-link a {
    color: #007bff;
    text-decoration: none;
}

#register-link a:hover {
    text-decoration: underline;
}

/* Estilos para mensajes flash */
.flash-messages {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1; /* Asegurar que el contenedor esté detrás del botón */
}

.flash-messages li {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

/* Estilos para mensajes flash de éxito */
.flash-success {
    background-color: #d4edda;
    color: #155724;
}

/* Estilos para mensajes flash de error */
.flash-error {
    background-color: #f8d7da;
    color: #721c24;
}
